body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color:#990000;
}
/* HEADER */
#header-nav {
    background-color: #26c6da;
    border-radius: 0;
    border: 1.5px solid blue;
}
.navbar-brand{
    padding-top:15px;
}
.navbar-brand h1 {
    color: #000;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list {
    margin-top: 2px;
    margin-bottom: 0
    background-color: #81d4fa;
}
#nav-list a:hover {
    color: #202020;
    background-color: #cfd8dc;
}
#nav-list a {
    border-top: 1.5px solid blue;
    margin-top:0;
    text-align: center;
    font-weight: bolder;
    color: #282828;
    font-size: 1.8em;
}
#nav-list:nth-child(3){
    border-bottom:1.5px solid blue;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid blue;
}
/** END HEADER */

/* HOME PAGE */
*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: 'Source Sans Pro',sen-serifa;
    color:black;
    font-weight:bold;
    font-size:44px;
    color:black;
}
section > h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color:black;
    font-family:cursive;
    margin-top:2px;
}
section {
    border: 1.5px solid blue;
    background-color: pink;
    margin: 5px;
    text-transform:capitalize;
    color:black;
    padding:3px;
    font-family:cursive;
}
#Chicken-tile, #Beef-tile, #Sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #67daff;
    margin-bottom: 40px;
    box-shadow: 0 0 80px #09404f;
}
/*Large Devices*/
@media(min-width:1200px){
    
     .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    
    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {
        width: 16.66%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33%;
        
    }
    .col-lg-5 {
        width: 41.66%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33%;
    }
    .col-lg-8 {
        width: 66.66%;
    }
    .col-lg-9 {
        width: 74.99%;
    }
    .col-lg-10 {
        width: 83.33%;
    }
    .col-lg-11 {
        width: 91.66%;
    }
    .col-lg-12 {
        width: 100%;
    }
}
    
}
/*Medium Devices*/
@media(min-width:992px)and(max-width:1199px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {
        width: 16.66%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33%;
    }
    .col-md-5 {
        width: 41.66%;
    }
    .col-md-6 {
        width: 50%;
        
    }
    .col-md-7 {
        width: 58.33%;
    }
    .col-md-8 {
        width: 66.66%;
    }
    .col-md-9 {
        width: 74.99%;
    }
    .col-md-10 {
        width: 83.33%;
    }
    .col-md-11 {
        width: 91.66%;
    }
    .col-md-12 {
        width: 100%;
        margin-left:2px;
    }
   

}
/*Small Devices*/
@media(min-width:768px)and(max-width:991px){
    .navbar-brand{
       padding-top:10px;
       height:70px;
    }
   .navbar-brand h1{
       padding-top:10px;
       font-size:5vw;/1vw=1% of viewport width/
    }
    #nav-list a{
        font-size:1.5em;
    }
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {
        width: 16.66%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33%;
    }
    .col-sm-5 {
        width: 41.66%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33%;
    }
    .col-sm-8 {
        width: 66.66%;
    }
    .col-sm-9 {
        width: 74.99%;
    }
    .col-sm-10 {
        width: 83.33%;
    }
    .col-sm-11 {
        width: 91.66%;
    }
    .col-sm-12 {
        width: 100%;
    }

}
/*Extra Small Devices*/
@media(max-width:767px){
   .navbar-brand{
       padding-top:10px;
       height:70px;
    }
   .navbar-brand h1{
       padding-top:10px;
       font-size:5vw;/1vw=1% of viewport width/
    }
    #nav-list a{
        font-size:1.5em;
    }
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, 
    .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        float: left;
    }
    .col-xs-1 {
        width: 8.33%;
    }
    .col-xs-2 {
        width: 16.66%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-4 {
        width: 33.33%;
    }
    .col-xs-5 {
        width: 41.66%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-7 {
        width: 58.33%;
    }
    .col-xs-8 {
        width: 66.66%;
    }
    .col-xs-9 {
        width: 74.99%;
    }
    .col-xs-10 {
        width: 83.33%;
    }
    .col-xs-11 {
        width: 91.66%;
    }
    .col-xs-12 {
        width: 100%;
    }
}
